@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');
@import url('http://fonts.cdnfonts.com/css/ailerons&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Teko", sans-serif;
  color: #333;
}

.App {
  background: #e9e8e8;
}

.navbarz {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 28px;
  max-width: 100%;
  background: #e9e8e8;
}

img.brand-icon-header {
  height: 55px;
  background: none;
  -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
  filter: drop-shadow(4px 4px 3px #8f8f8f);
}

.osh-header-titles {
  width: 210px;
  text-shadow: 2px 2px 3px #8f8f8f;
}

@media (max-width: 358px) {
  .osh-header-titles {
    display: none;
  }
}



.navbarz h1 {
  letter-spacing: 3.5px;
  font-weight: 400;
  font-size: 26px;
  margin: 10px 0 0;
  line-height: 19px;
}

.navbarz p {
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

.navbarz a {
  text-decoration: none;
  padding: 6px;
}

a.header-brand-link {
  display: flex;
  align-items: center;
}

.osh-header-titles-all {
  z-index: 1;
}

/* Menu button styles */
.osh-header-menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 75px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
  filter: drop-shadow(4px 4px 3px #8f8f8f);
  z-index: 20;
  background: none;
}

.osh-header-menu-btn-burger {
  width: 40px;
  height: 1px;
  background: #252525;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.osh-header-menu-btn-burger::before,
.osh-header-menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 1px;
  background: #252525;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.osh-header-menu-btn-burger::before {
  transform: translateY(-16px);
}

.osh-header-menu-btn-burger::after {
  transform: translateY(16px);
}

.osh-header-menu-btn.open .osh-header-menu-btn-burger {
  transform: translateY(3px);
  background: transparent;
}

.osh-header-menu-btn.open .osh-header-menu-btn-burger::before {
  transform: rotate(45deg) translate(1px, -1px);
}

.osh-header-menu-btn.open .osh-header-menu-btn-burger::after {
  transform: rotate(-45deg) translate(1px, 1px);
}

/* Menu styles */
.osh-header-menu {
  background: rgba(233, 232, 232, 0.9);
  position: fixed;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 10;
  text-shadow: 2px 2px 3px #8f8f8f;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  justify-content: center;
}

.osh-header-menu a:hover {
  background: #252525;
  box-shadow: 0 0 15px #8f8f8f;
  color: #e9e8e8;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

a.header-links {
  color: black;
  font-size: 25px;
  text-decoration: none;
  font-size: 18px;
  padding: 3px 25px;
  border-radius: 5px;
  margin: 5px 0;
  -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
  filter: drop-shadow(4px 4px 3px #8f8f8f);
  background: linear-gradient(145deg, #e9e8e8, #e9e8e8);
  box-shadow: 2px 2px 6px #c6c5c5, -2px -2px 6px #ffffff;
  width: 250px;
  text-align: center;
}

.active-menu {
  transform: translateX(0);
  visibility: visible;
}

.content {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
}

/* //FOOTER// */
.osh-footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 20px auto;
  right: 0;
  left: 0;
  background: none;
}

.osh-logo-footer {
  display: flex;
  align-items: center;
  align-content: center;
  background: none;
  margin: 15px;
}

p.osh-footer-logo-copy {
  background: none;
}

a.social-link {
  background: none;
}

img.brand-icon {
  width: 50px;
  height: 42px;
  -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
  filter: drop-shadow(4px 4px 3px #8f8f8f);
  background: none;
}

/* Responsive styles */
/* //TABLET// */
@media (min-width: 426px) {
  a.header-links {
    font-size: 20px;
    padding: 3px 27px;
  }
}

/* //DESKTOP// */
@media (min-width: 770px) {
  .navbarz {
    align-items: flex-end;
    margin: 0 30px 10px;
  }

  img.brand-icon-header {
    height: 70px;
    padding-top: 10px;
  }

  .osh-header-titles {
    width: 100%;
  }

  .navbarz h1 {
    letter-spacing: 3.5px;
    font-size: 59px;
    margin: 30px 0 0;
    line-height: 40px;
  }

  .navbarz p {
    letter-spacing: 7.5px;
    font-size: 15.5px;
  }

  a.header-links {
    font-size: 20px;
    padding: 5px 27px;
  }

  .osh-footer {
    margin: 30px auto;
  }
}

@media (max-width: 375px) and ( min-width: 320px) {
  nav.webdevhov {
    padding: 0!important;
  }
  img.brand-icon-header {
    padding: 0 1px 0 0! important;
}
/* .osh-header-menu-btn {
  justify-content: space-between;
} */
  }




/* //end base styles// */


/* //home slides component// */


.body-no-header {
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}

.slide-models {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(375px, 2fr));
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
  min-height: 70vh;
}

.slide-model {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 313px;
  height: 313px;
  border-radius: 30px;
}

.gallery .slide-model-links .slide-model:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.zoom {
  transform: scale(2.9);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  position: absolute;
  margin: auto 170px;
}

.test {
  width: 830px !important;
  height: 830px !important;
  z-index: 1000;
  position: fixed;
  margin: auto 170px;
  left: 300px;
  bottom: 14px;
}

@keyframes invertAnimation {
  0% {
    filter: invert(1);
  }
  50% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}

.slide-model-elements {
  position: relative;
  text-align: center;
  color: #ffffff;
  background: none;
  /* filter: none; */
  animation: invertAnimation 5s infinite; /* Adjust duration as needed */
}


.slide-model-elements:hover {
  /* filter: none; */
  animation: none;
  filter: invert(0);
}

.slide-model-links {
  background: none;
  list-style-type: none;
}

.slide-model-element-copy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  margin: 0;
  font-size: 18px;
  width: 70%;
  background: #c6c5c5;
}

img.slide-model-element-img {
  width: 73%;
}

img.slide-model-element-img.portrait {
  width: 55%;
}

.slide-shadow {
  background: linear-gradient(145deg, #e9e8e8, #ffffff);
  box-shadow: 20px 20px 60px #c6c5c5, -20px -20px 60px #f0f0f0;
}

/* loading skeleton */
:root {
  --loading-grey: #c6c5c5;
}

.card {
  width: 320px;
  border-radius: 6px;
  margin: 0 auto;
}

.image {
  height: 175px;
}

.loading .image {
  background-color: var(--loading-grey);
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

/* //place holder image */

.placeholder {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.placeholder-shimmer {
  background-color: var(--loading-grey);
  background: linear-gradient(100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, .5) 50%,
      rgba(255, 255, 255, 0) 60%) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s shimmer ease-in-out infinite;
}

@keyframes shimmer {
  to {
    background-position-x: -20%;
  }
}

ul.slide-models.gallery {
  padding: 0;
}


/* //TABLET// */
@media (max-width: 1280px) and (min-width: 426px) {
  .slide-models {
    grid-template-columns: repeat(auto-fit, minmax(380px, 2fr));
  }
}

/* //DESKTOP// */
@media (min-width: 769px) {
  .slide-model-elements {
    animation: none;
    filter: invert(1);
  }
  
  .slide-model-elements:hover {
    filter: invert(0);
  }
  }
  
@media (min-width: 1279px) {
  /* .slide-models {
    max-width: 88vw;
  } */

  .slide-model {
    width: 354px;
    height: 354px;
  }

  .slide-model-element-copy {
    top: 50%;
    font-size: 23px;
    line-height: 1;
  }
}

/* //END home slides component// */



/* gallery slides*/
li.slide-model-links {
  background: none;
}

.slide-model-photo {
  width: 300px;
  height: 300px;

}

.slide-models-photo {
  grid-template-columns: repeat(auto-fit, 300px);
  max-width: 95vw;
  list-style-type: none;
  padding: 0;
}

.portrait-photos {
  width: 83%;
}

img.slide-model-element-img-photo {
  width: 55%;
}

h2.titles-title {
  margin: 0 10px 10px;
  letter-spacing: 10px;
  text-align: center;
  z-index: 9;
  font: bold 20px 'Teko', oswald;
  background-color: #c6c5c5;
  color: transparent;
  text-shadow: 2px 2px 3px rgb(255 255 255 / 50%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;
  text-transform: uppercase;
}

@media (min-width: 654px) {

  h2.titles-title {
    text-align: left;
    letter-spacing: 23px;
  }

  img.slide-model-element-img-photo {
    width: 62%;
  }
}

picture {
  background: none;
}

/* DESKTOP */
@media (min-width: 770px) {
  h2.titles-title {
    /* margin: 0 35px 10px; */
    margin: 0 55px 10px;
  }
}

/* about */
.about-content-wrapper {
  display: grid;
  gap: 20px;
  align-items: start;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5px;
  box-sizing: border-box;
  grid-template-columns: none;
}

.about>.vid {
  width: 589px;
  height: 589px;
}

.about-texts {
  background: none;
}

.about-text {
  font-size: 17px;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
  background: none;
}

.about>.vid {
  width: 300px;
  height: 300px;
}

@media (min-width: 426px) {
  .about>.vid {
    width: 409px;
    height: 409px;
  }
}

@media (min-width: 1024px) {
  .about-content-wrapper {
    grid-template-columns: auto 1fr;
    padding: 0 10px;
  }

  .about>.vid {
    width: 500px;
    height: 500px;
  }
}

.tech-stack-icons {
  display: flex;
  padding: 0;
  background: none;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.tech-icon {
  width: 25px; /* Adjust size of the icons */
  height: 25px; /* Adjust size of the icons */
  background: none;
  padding: 2px;
}


/* //PAGEs// */
/* //TABLET// */
/* @media (min-width: 426px) {} */
/* //DESKTOP// */
/* @media (min-width: 770px) {} */
/* //END PAGEs// */

/* Carousel Modal Styling */
.carousel-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(233, 232, 232);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 31px;
  border: none;
  padding: 22px;
  z-index: 2001;
}

.close-button::before {
  content: "×";
  position: absolute;
  top: -9px;
  right: 13px;
  font-size: 48px;
  font-weight: 100;
  cursor: pointer;
  color: #8f8f8f;
}


@media (max-width: 425px) {
  .close-button {
    right: 10px;
    top: 10px;;
}
}

.carousel .slide {
  display: flex;
  justify-content: center;
}

.carousel-status {
  display: none; 
}

.carousel .control-dots {
  background: none;
}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #c6c5c5!important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #c6c5c5!important;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.04)!important;
}

/* TABLET */
@media (max-width: 768px) and (min-width: 426px) {
.carousel .slider-wrapper {
  width: 73%!important;
}
}

/* SMALL DESKTOP */
@media (min-width: 768px) and (max-width: 1024px) {
.carousel .slider-wrapper {
  width: 53% !important;
}
}

/* DESKTOP */
@media (min-width: 1025px) {
.carousel .slider-wrapper {
  width: 33.79%!important;
}
}

 @media (min-width: 769px) {
.carousel-status {
    display: block;
    position: absolute;
    top: 19px;
    left: 10px;
  }

  /* Hide control dots on desktop */
  .carousel .carousel-indicators {
    display: none;
  }

  .carousel.carousel-slider .control-arrow:hover {
    background: rgba(0, 0, 0, 0.4)!important;
  }
  .carousel .control-next.control-arrow:before {
    border-left: 8px solid #252525!important;
  }
  
  .carousel .control-prev.control-arrow:before {
    border-right: 8px solid #252525!important;
  }

 .carousel-status {
    padding: 5px 5px 5px 30px!important;
    font-size: 23px!important;
    text-shadow: none!important;
    color: #8f8f8f!important;
    background: none!important;
    z-index: 2001;
}
}


.video-modal-iframe-container{
  padding: 56% 0 0 0;
  position: relative;
}

button.video-modal-close {
  position: relative;
  top: 0;
  left: 259px;
  border: none;
}

 .video-modal-overlay{
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(233, 232, 232);
    z-index: 1000;
    /* display: flex; */
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-modal-close-button {
  position: fixed;
  top: 0px;
  right: 0;
  border: none;
  padding: 22px;
  z-index: 9;
}

.video-modal-close-button::before {
  content: "×";
  position: absolute;
  top: -9px;
  right: 13px;
  font-size: 48px;
  font-weight: 100;
  cursor: pointer;
  color: #8f8f8f;
}

.hidden {
  display: none;
}

/* small desktop */

@media (min-width: 899px) {
  .video-modal-iframe-container{
    padding: 40% 0 0 0;
  }
  }


/* DESKTOP */
@media (min-width: 1440px) {
  .video-modal-iframe-container{
    padding: 25% 0 0 0;
  }
  }


  /* WEB-DEV */
  .web-dev-icons {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  /* QUIZ-START */
  body .quiz-body {
    background-color: #e9e8e8 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  }

  .result.py-4.bg-light.text-center.osh {
    background-color: #e9e8e8 !important;
  }
  .intro.py-3.text-center.osh {
    background-color: #e9e8e8 !important;
  }
  
  img.brand-icon-header {
    height: 70px;
    padding: 0 5px 0 7px;
    margin-top: 5px;
    background: transparent;
    -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
    filter: drop-shadow(4px 4px 3px #8f8f8f);
  }
  
  img.brand-icon-header:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }

  form.quiz-form.text-light {
    background: none !important;
}

div.container{
  background: none !important;
}
h2.my-5.text-white {
  background: none;
}
.my-5 {
  background: none;
}
.form-check.my-2.text-white-50 {
  background: none;
}
.text-center {
  background: none;
}

p.lead.font-weight-normal {
  background: none;
  color: #fff;
  font-size: 1.5rem;
}

label.form-check-label {
  background: none;
  color: rgba(233, 232, 232, 0.9) !important;
  padding-left: 5px;
  font-size: 1.25rem;
}

input.btn.btn-light {
  width: 250px;
}

h2.text-primary.display-1.my-4 {
  margin: 0 ! important;
}

.result.py-4.bg-light.text-center.osh {
  padding-bottom: 0 !important;
}

.intro.py-3.text-center.osh {
  padding-bottom: 0 !important;
}
span.text-primary.display-4.p-3 {
  background: none;
}

a:link { 
  text-decoration: none!important; 
} 
a:visited { 
  text-decoration: none!important; 
} 
a:hover { 
  text-decoration: none!important; 
} 
a:active { 
  text-decoration: none!important; 
}

div.incorrect {
  background: red! important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 1s infinite;
  color: #28a745; /* Optional: Change color to green for 100% */
}

label.form-check-label {
  display: inline! important;
}

  /* QUIZ-END */

  /* AFRICA-START */
   /* html {
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  } */
 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
     
  .search-form {
    max-width: 500px;
    margin: 0 auto 50px auto;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    padding: 5px;
  }
  
  input.search {
    margin: 0;
    text-align: center;
    outline: 0;
    border: 10px solid #e9e8e8;
    background: #e9e8e8;
    width: 100%;
    left: 0;
    position: relative;
    top: 10px;
    z-index: 2;
    border-radius: 100px;
    font-size: 19px;
    box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
    padding: 6px;
  }

  .afrikamapu {
    flex: 2 1 0%;
    position: relative;
    background: transparent;
   }
  
  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  ul.suggestions {
    max-height: 85vh; /* Limit the height to 40% of the viewport */
    overflow-y: auto; /* Scrollable content */
  }

  .suggestions li {
    list-style: none;
    box-shadow: none;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background 0.2s;
    text-transform: capitalize;
    border-bottom: 1px solid #c6c5c5;
  }
  
  /* .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
  } */
  
  .name {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    margin: 0 2% 0 5%;
  }
  
  .population {
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 400;
  }
  
  .hl {
    background: #ffc600;
  }
  
  img.brand-icon-header {
    height: 70px;
    padding: 0 5px 0 7px;
    margin-top: 5px;
    background: transparent;
    -webkit-filter: drop-shadow(4px 4px 3px #8f8f8f);
    filter: drop-shadow(4px 4px 3px #8f8f8f);
  }
  
  img.brand-icon-header:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  
  html, body, .afrikamapu {
    background: transparent !important;
  }

  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .search-icon {
    position: absolute;
    left: 22px; /* Align it to the right inside the input */
    width: 17px;
    height: 17px;
    pointer-events: none; /* Prevent blocking the input when clicking */
    z-index: 2;
    bottom: 12px;
  }

  .map-pin-icon {
    width: 18px;
    height: 18px;
    margin: 0; /* Space between icon and text */
  }
  
  .arrow-up-icon {
    width: 18px;
    height: 18px;
    margin: 0; /* Space between text and icon */
  }

/* Hide the icons when the suggestion is expanded */
.suggestions li.expanded {
  display: block; /* Override display: flex to remove flexbox behavior */
}

.suggestions li.expanded .map-pin-icon,
.suggestions li.expanded .arrow-up-icon {
  display: none; /* Hide the icons when expanded */
}

div.african-country{
  text-transform: uppercase;
}

  /* mobile */
    @media (max-width: 768px) {
      /* .search-form {
        margin: 50px 10px;
    } */
    .search-form-all {
      padding: 5px; 
  }

    .search-form-map {
      display: flex;
      flex-direction: column;
      height: 90vh; /* Full viewport height */
    }
    form.search-form {
      margin: 0 10px auto;
      max-width: none; /* Remove max-width for mobile */
  }

    input.search {
      box-shadow: inset 3px 3px 5px 0 rgba(0, 0, 0, 0.2), inset -3px -3px 5px 0 rgba(255, 255, 255, 0.5);
      border-radius: 100px;
      padding: 10px;
    }

    .afrikamapu {
      flex-grow: 1; /* Take up available space */
      position: relative;
      z-index: 1; /* Below the input, above the suggestions */
    }

    .suggestion-line {
      background-color: #dadce0;
      border-radius: 2px;
      height: 4px;
      width: 30%;
      margin: 10px auto;
  }
    ul.suggestions {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      max-height: 18vh; /* Limit the height to 40% of the viewport */
      overflow-y: auto; /* Scrollable content */
      z-index: 10; /* Above the map */
      border-top: 2px solid #ccc;
      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for popup effect */
      border-radius: 10px 0;
      background: #e9e8e8;
    }

    .suggestions li {
      box-shadow: none;
      border-bottom: 1px solid #c6c5c5;
  }

  .search-icon {
    left: 23px;
    width: 18px;
    height: 18px;
    bottom: 16px;
  }
  .name {
    font-size: 16px;
    line-height: 20px;
    /* margin-bottom: 8px; */
  }

  .map-pin-icon {
    width: 15px;
    height: 15px;
  }
  
  .arrow-up-icon {
    width: 15px;
    height: 15px;
  }

  .navbarz {
    margin: 0 0 10px;
}
.tech-stack-icons {
  margin-bottom: 0;
}
  }
  /* AFRICA-END */
